@font-face {
    font-family: "OngleleafBuhungEunseo";
    font-weight: 300;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/wefonts/OngleleafBuhungEunseo/OngleleafBuhungEunseo.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/wefonts/OngleleafBuhungEunseo/OngleleafBuhungEunseo.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/wefonts/OngleleafBuhungEunseo/OngleleafBuhungEunseo.ttf") format("truetype");
    font-display: swap;
}

.OngleleafBuhungEunseo {
    font-family: "OngleleafBuhungEunseo";
}
